@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-950 text-gray-100;
    }

    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply bg-gray-800 border-gray-700 text-gray-100 placeholder-gray-500;
    }

    [type='text']:focus,
    [type='email']:focus,
    [type='url']:focus,
    [type='password']:focus,
    [type='number']:focus,
    [type='date']:focus,
    [type='datetime-local']:focus,
    [type='month']:focus,
    [type='search']:focus,
    [type='tel']:focus,
    [type='time']:focus,
    [type='week']:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
        @apply border-indigo-500 ring-indigo-500;
    }

    [type='checkbox'],
    [type='radio'] {
        @apply bg-gray-800 border-gray-600;
    }

    input:disabled,
    textarea:disabled,
    select:disabled {
        @apply bg-gray-800/50 border-gray-700 text-gray-500;
    }
}
